In [1]:
import mysql.connector
mydb = mysql.connector.connect(
host="localhost",
user="root",
passwd="Larni9359",
database="mydatabase"
)

In [2]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE sprint (Products VARCHAR(255), Price VARCHAR(255) ,Stock VARCHAR(255), Size VARCHAR(255) , Barcode VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'sprint' already exists

In [4]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:

  print(x)

('box',)
('chiper',)
('chipper',)
('chippers',)
('chips',)
('chocolate',)
('cupcake',)
('customers',)
('fruit',)
('new_table',)
('pies',)
('sprint',)

In [5]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE chips (Type VARCHAR(255), Quantity  VARCHAR(255), Profit VARCHAR(255), Size VARCHAR(255) , Barcode VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'chips' already exists

In [6]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE chips ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [7]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE chocolate (Type VARCHAR(255), Quantity  VARCHAR(255), Profit VARCHAR(255), Size VARCHAR(255) , Barcode VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'chocolate' already exists

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE chocolate ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Pies (Price  VARCHAR(255), Quantity  VARCHAR(255), Profit VARCHAR(255), Size VARCHAR(255) , Barcode VARCHAR(255))")

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Pies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Cupcake (Price  VARCHAR(255), Quantity  VARCHAR(255), Profit VARCHAR(255), Size VARCHAR(255) , Barcode VARCHAR(255))")

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Cupcake ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Fruit (Price  VARCHAR(255), Quantity  VARCHAR(255), Profit VARCHAR(255), Size VARCHAR(255) , Barcode VARCHAR(255))")

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="mydatabase"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Fruit ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")